@model Odonto.Models.Marcacao

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Marcacao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgendaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgendaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcedimentoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Procedimento.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataDeInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataDeInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataDeFim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataDeFim)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MarcacaoId" class="btn btn-light">Editar</a>
    <a asp-action="Index" class="btn btn-light">Voltar para a lista</a>
</div>
