@model IEnumerable<Odonto.Models.Profissional>

@{
    ViewData["Title"] = "Profissionais";
}

<h1>Profissionais</h1>

<p>
    <a asp-action="Create">Cadastrar novo Profissional</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td class="text-right">
                    <a asp-action="Edit" asp-route-id="@item.ProfissionalId" class="btn btn-light">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.ProfissionalId" class="btn btn-light">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.ProfissionalId" class="btn btn-light">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
