@model IEnumerable<Odonto.Models.Agenda>

@{
    ViewData["Title"] = "Agendas";
}

<h1>Agendas</h1>

<p>
    <a asp-action="Create">Cadastrar Nova Agenda</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProfissionalId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataDeInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataDeFim)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Profissional.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataDeInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataDeFim)
                </td>
                <td class="text-right">
                    <a asp-action="Edit" asp-route-id="@item.AgendaId" class="btn btn-light">Edita</a>
                    <a asp-action="Details" asp-route-id="@item.AgendaId" class="btn btn-light">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.AgendaId" class="btn btn-light">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
